<body>
<div class="card" >
    <p-card [style]="{
        borderRadius: '15px', 
        width: '500px', 
        backgroundColor: 'rgba(255, 255, 255, 0.2)', 
        color: 'black'}">
    <div class="p-fluid grid"><h1>Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div >
            <span class="p-float-label">
                <input formControlName="username"  type="text" id="inputtext" pInputText > 
                <label for="inputtext">Username</label>
            </span>
        </div><br>
        <br> 
        <div >
            <span class="p-float-label">
                <p-password formControlName="password" inputId="password"  ></p-password>
                <label for="password">Password</label>
            </span>
        </div><br>
        <button pButton pRipple type="submit" label="Login" ></button>&nbsp;
    <button pButton pRipple type="button" routerLink="/register" labe="No Account?"  label=" Register" class="p-button-text"><b></b></button>
    </form>
    </div><br>
    
    </p-card>   
    </div>
</body>