<body>
    <div class="Section_top">
        <div class="content">    
<div ><br>
<p-card  [style]="{
    borderRadius: '15px', 
    width: '650px', 
    backgroundColor: 'rgba(255, 255, 255, 0.2)', 
    color: 'black'}">
<div class="p-fluid grid"><h1 style="color:brown">Registration</h1>
    <form [formGroup]='registration' (ngSubmit)='submitForm()'>
        <div >
            <span class="p-float-label">
                <input formControlName="name"  type="text" pInputText class="form-control" > 
                <label for="name">First Name</label>
            </span>
        </div><br>
        <div >
            <span class="p-float-label">
                <input formControlName="lastname"  type="text" pInputText class="form-control"> 
                <label for="lastname">Last Name</label>
            </span>
        </div>
   <br>
    <div >
        <span class="p-float-label">
            <input formControlName="username"  type="text"  pInputText class="form-control"> 
            <label for="username">Username</label>
        </span>
    </div>
   <br>
    <div >
        <span class="p-float-label">
            <input formControlName="email" type="email"  pInputText class="form-control"> 
            <label for="email">Email</label>
        </span>
    </div>
   <br>
    <div >
        <span class="p-float-label">
            <p-password  formControlName="password" inputId="password" [toggleMask]="true" class="form-control" ></p-password>
            <label for="password">Password</label>
        </span>
    </div><br>
    <!-- <div >
        <span class="p-float-label">
            <p-password formControlName="confirmPassword"  [toggleMask]="true" inputId="Confirmpassword" ></p-password>
            <label for="Confirmpassword">Confirm Password</label>
        </span>
    </div> -->

<div>
    <h3 style="color:black">Register As </h3>
    <label style="color:black; ">
        <input  type="radio" formControlName="userType" 
          value="Restaurant" required>Restaurant
  </label>&nbsp;&nbsp;
  
  <label style="color:black">
        <input type="radio"  formControlName="userType" 
        value="Customer" required> Customer
  </label>
</div> <br>
<button pButton pRipple type="submit" label="Register" [disabled]="registration.invalid"   ></button>
</form><br>
</div>
<button pButton pRipple type="button"  routerLink="/"  label=" Home" ><b> </b></button>&nbsp;
<button pButton pRipple type="button"  routerLink="/login"  label=" Back To Login" ><b></b></button>
</p-card>   
</div>
</div>
</div>
</body>