<br><br>
<p-toast></p-toast>
<br><br>
<h2 class="text-center">Register Your Restaurant</h2><br>
<div class="container">
    <form [formGroup]="restaurantForm" class="form" (ngSubmit)="submit()">
        <div class="row justify-content-center">
            <div class="col-6 col-sm-6">
                <div class="field">
                    <label for="name" class="block"><b>Name</b></label>
                    <input formControlName="name" type="text" class="form" pInputText />
                </div>
            </div>
            <div class="col-6 col-sm-6">
                <div class="field">
                    <label for="contactDetails" class="block"><b>Contact Details</b></label>
                    <input formControlName="contactDetails" class="form" type="text" placeholder="email, phone number"
                        pInputText />
                </div>
            </div>
        </div><br>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="field" >
                    <label  class="block"><b>Logo</b></label>
                  <p-fileUpload  url="http://192.168.10.146:8001/file/upload" name="file"
                  (onUpload)="onUpload($event)"
                         accept="image/*" [maxFileSize]="1000000">
                        <ng-template pTemplate="content" >
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div> 
            </div>
            <div class="col-6">
                <div class="field">
                    <label for="address" class="form" class="block"><b>Address Details</b></label>
                    <textarea formControlName="address" class="form" pInputTextarea></textarea>
                </div><br>
                <button pButton pRipple type="submit" label="Save"  ></button>&nbsp;
                <button pButton pRipple type="reset" routerLink="/" labe="No Account?" label="Cancel"
                    class=" p-button-danger"><b></b></button>
            </div>
        </div>
        <br>
    </form>
</div>
