<p-button [style]="{
    float:'right',
    backgroundColor:'#DC8459',
    border:'0cm'
}" (click)="showPositionDialog('top')" icon="pi pi-plus" label="Add Food Item"></p-button>
<p-dialog header="Add Food Item" [(visible)]="displayPosition"  [style]="{width: '40vw'}">
    <div class="card" >
        <div class="p-fluid grid">
            <form [formGroup]="addForm"  (ngSubmit)="submit()">
                <div class="field">
                    <label for="name" class="block">Dish Name</label>
                    <input formControlName="dishName"  type="text"  pInputText  />
                </div><br>
                <div class="field">
                    <label for="currency-us">Price</label>
                    <p-inputNumber formControlName="price"  [showButtons]="true" inputId="currency-us" mode="currency" currency="USD" locale="en-US">
                    </p-inputNumber>
                </div><br>
                <!-- <div class="field">
                    <label for="restaurantId" class="block">Restaurant</label>
                    <input formControlName="restaurantId" type="number"  pInputText  />
                </div><br> -->
                <div class="field" >
                    <label  class="block"><b>Image</b></label>
                  <p-fileUpload  url="http://192.168.10.146:8001/file/upload" name="file"
                  (onUpload)="onUpload($event)"
                         accept="image/*" [maxFileSize]="1000000">
                        <ng-template pTemplate="content" >
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div><br>
                <button pButton pRipple type="submit" label="Add" ></button>&nbsp;
        </form>
        </div><br>
        <button pButton pRipple type="button" routerLink="/"   class="p-button-text"><b> Home</b></button>
        </div>

</p-dialog>


